/* LOGIN */
.form {
  display: flex;
  flex-direction: column;
}

.login__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.login__email--section {
  margin: 8px;
}

.login__email--input {
  margin: 4px;
}

.login__password--section {
  margin: 8px;
}

.login__password--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}


.login__password--input {
  margin: 4px;
}

.login__continue {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__register {
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__para {
  margin: 4px;
}

.register {
  margin: 4px;
}