/* POSTS */
.post {
  padding: 0 64px 0 64px;
}

.post__header {
  font-family: sans-serif;
}

.post__subheader {
  display: flex; 
  flex-direction: column; 
  gap: 10px;
  margin-bottom: 30px;
}

.post__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.post__input {
  padding: 8px;
}

.post__textarea {
  padding: 16px;
}

.post__publish {
  padding: 10px;
  background: #0070f3;
  color: white;
  border: none; 
  cursor: pointer;
}

.post__button--id {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 8px;
  gap: 10px;
}

.post__input--id {
  padding: 4px;
}

.post__buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 8px;
  gap: 10px;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.review__cards {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px 0;
}

.review__actions {
  margin-top: 10px;
}

.post__delete {
  margin-left: 10px;
  color: red;
}

.review__cards--skeleton {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px 0;
}

.review__title--skeleton {
  width: 80px;
  height: 12px;
  background-color: lightgray;
}

.review__para--skeleton {
  width: 100%;
  height: 24px;
  background-color: lightgray;
}
