@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  background-color: white;
  transition: all 300ms ease;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

i {
  padding: 16px 0;
}

section {
  transition: all 300ms ease;
}

.highlights {
  color: #6030b1;
}

input {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #0a1f44;
  color: #0a1f44;
  display: inline-block;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  width: 100%;
  font-size: 24px;
  padding-left: 25px;
}

.button {
  cursor: pointer;
  width: fit-content;
  background-color: #6030b1;
  color: #fff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  font-weight: bold;
  transition: all 300ms ease;
}

img {
  height: auto;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

.dark-theme {
  background-color: #242424;
}

.dark-theme .container{
  background-color: #242424;
}

.dark-theme .navbar__logo, 
.dark-theme .title,
.dark-theme .highlights{
  color:#af81ff
}

.dark-theme h2,
.dark-theme .row,
.dark-theme .movie__title,
.dark-theme .movie__year,
.dark-theme .post,
.dark-theme .movie__row
{
  color: white;
}

.dark-theme .scroll__icon {
  border-color: white;
}

.cart__length {
  background-color: red;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 64px;
  right: 30px;
  pointer-events: none;
}


/* MENU */
.menu__wrapper{
  display: flex;
}

.button__menu {
  background-color: transparent;
  border: none;
  display: none;
  transition: all 300ms ease;
  cursor: pointer;
}

.button__menu i:hover {
  color: #ff328f;
}

.menu__close {
  position: fixed;
  top: 24px;
  right: 18px;
}

.menu {
  transform: translateX(100%);
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1005;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;
}

.menu--open {
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu--open .menu {
  transform: translateX(0);
  opacity: 1;
}

.menu__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu__link {
  color: #6030b1;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  border-bottom: 2px solid transparent;
}

.menu__link:hover {
    color: #ff328f;
}

.menu__link--primary {
  color: #6030b1;
  border-radius: 500px;
  border: none;
  margin: 8px 0;

}
.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}


/* FOOTER */
footer {
    background-color: #242424;
}

.footer__logo {
  display: flex;
  color: #fff;
}

.footer__logo--img {
  width: 160px;
  filter: grayscale(1) invert(1);
}

.footer__link,
.footer__copyright {
  color: #fff;
}

.footer__list {
  margin: 20px 0 24px 0;
}

.footer__link {
  padding: 0 8px;
}

/* MODAL MOVIE */
.modal__movie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2000;
  display: none; /* Hidden by default */
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}

.modal__movie.modal--open {
  display: flex;
}

.modal__movie--content {
  display: flex;
  max-width: 800px;
  width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.modal__poster__left img {
  /* width: 300px; */
  height: 100%;
  object-fit: cover;
}

.modal__description {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* 5. The X Button */
.modal__exit {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}


/* MODAL */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}
.modal--open .modal{
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}
.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact
{
  transform: translateX(0%);
}

.modal__languages {
  display: flex;
  flex-wrap: wrap;
}

.modal__language {
  width: 25%;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease;
}

.modal__language:hover .language__name {
  transform: scale(1);
}

.modal__language:hover {
  filter: brightness(80%);
  transform: scale(0.9);
}

.language__name {
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  transition: all 300ms ease;
}

.modal__language--img {
  width: 100%;
}

.modal__contact {
  transform: translateX(110%);
  background-color: #242424;
  color: white;
}

.modal__title {
  font-size: 26px;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}

.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}

.form__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form__submit {
  background-color: #bf5140;
  border: 2px solid #bf5140;
  color: white;
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
}

.form__submit:hover {
  border-color: #fff;
  background-color: transparent;
}

.form__submit:active {
  border-color: #bf5140;
  color: #bf5140;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
}

.modal__overlay--success {
  background-color: #4bb543;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #fff;
  font-size: 36px;
  z-index: 100;
}

/* MOBILE RESPONSIVENESS */
/* 1280px, 1024px, 768px, 640px */

@media(max-width: 1280px) {
    .button__menu {
      display: block;
      color: #6030b1;
    }

    .movie {
      width: calc(100%/2);
    }
}
    
@media(max-width: 640px) {
/* index.html :: change search bar and search icon */
    .search__bar {
      flex-direction: column;
      align-items: center;
    }

    .search__button {
      width: 100%;
      margin: 0;
    }
}

/* Mobile Responsive */
@media (max-width: 600px) {
    .modal__movie--content {
      flex-direction: column;
      max-height: 90vh;
      overflow-y: auto;
    }

    .modal__poster__left, .modal__description {
      width: 100%;
      display: flex;
      justify-content: center;
  }

    .movie {
        width: calc(100%);
    }
}
